table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 100px;
}
h2{
  width: 100%;
  text-align: center;
}
caption {
  padding: 30px;
  margin-bottom: 20px;
}
th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

span{
  font-weight: bold;
}